/*Dietas.html*/
.titulo__diferentestiposalimentacion {
    text-decoration: underline;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;
    text-decoration: underline;
    text-shadow: orange 1px 2px 2px;
    text-align: center;
    margin-left: 1rem;
    margin-top: 3rem;
}

.dietamodif {
    display: flex;
    flex-wrap: wrap;




}

.titulo__dietacetogenica {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;
    text-decoration: underline;
    text-shadow: orange 1px 2px 2px;

    margin-top: 4rem;
    text-align: center;
    margin-right: 6rem;




}

.parrafo__dietacetogenica {
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;

    text-align: center;
}

.video__dietacetogenica {
    height: 200px;
    margin-left: 1rem;
    margin-top: 2rem;

}

/*Dieta Hipocalorica*/
.titulo__dietahipocalorica {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;
    text-decoration: underline;
    text-shadow: orange 1px 2px 2px;

    margin-top: 4rem;
    text-align: center;


}

.parrafo__dietahipocalorica {
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;

    text-align: center
}

.video__dietahipocalorica {
    height: 200px;
    margin-left: 1rem;
    margin-top: 2rem;

}

/*Dieta Hipercalorica*/
.titulo__dietahipercalorica {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;
    text-decoration: underline;
    text-shadow: orange 1px 2px 2px;

    margin-top: 2rem;
    text-align: center;
    margin-left: 10rem;


}

.parrafo__dietahipercalorica {
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;
    margin-left: 23rem;
    text-align: center;

}

.video__dietahipercalorica {
    height: 200px;
    margin-top: 2rem;
    margin-left: 23rem;

}

.footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .footer__hijo--1 {
        align-self: center;
        font-size: 32px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: underline;
    }

    .footer__hijo--2 {
        align-self: center;
        font-size: 32px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: underline;
    }

    .footer__hijo--3 {
        align-self: center;
        font-size: 32px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: underline;
    }

    .footer__hijo--4 {
        align-self: center;
        font-size: 32px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: underline;
    }
}