/*Medias Querys*/
/*Tablet*/
@media screen and (max-width:1023px) {
    .titulo__sitio {
        font-size: 50px;


    }

    .titulo-serviciosdestacados {
        text-align: center;
        font-size: 50px;

    }

    .seccion__titulo {
        font-size: 50px;
    }

    .grid {
        display: none;
    }

    .nav__list {
        text-align: right;
    }

    .grid {
        border: 6px solid black;
        padding: 0.5rem;
        height: 200px;
        display: grid;
        padding-bottom: 3rem;


        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        row-gap: 25px;
        column-gap: 5px;
        align-items: center;
    }

    .grid__hijo {

        border: 2px solid orange;
    }

    .grid__parrafo {
        text-align: center;
        font-size: 12px;
        padding: 1rem;
        color: orange;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }
}


/*Mobile*/
@media screen and (max-width:535px) {

    /*Index*/
    .logo {
        width: 20%;

    }

    .titulo__sitio {
        text-align: center;
        color: black;
        font-size: 40px;
    }

    .texto__sitio {
        text-align: center;
        font-size: 20px;

    }

    .texto__sitio1 {
        font-size: 15px;

    }

    .grid {
        display: grid;
    }

    .nav__list {
        text-align: left;
        font-size: 16px;
    }

    .titulo-serviciosdestacados {
        text-align: center;

    }



    .titulo-serviciosdestacados {
        font-size: 50px;

    }

    .seccion__titulo {
        font-size: 50px;

    }

    .titulo__rutinasyplanes {
        text-align: center;
    }

    .titulo__ejecucionesyvariantes {
        text-align: center;

    }

    .parrafo__ejecucionesyvariantes {
        display: flex;
        justify-content: center;
        margin-top: 3.5rem;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 16px;
        padding-left: 4rem;

        transition: font-size 2s, transform 0.1s;
    }

    .imagenes__contenido {
        width: 53%;
        border-radius: 10%;
        margin-left: 34%;
        margin-top: 2rem;
        justify-content: center;

    }

    .imagenes__contenido1 {
        width: 40%;
        border-radius: 10%;
        margin-left: 34%;
        margin-top: 6.5rem;
        justify-content: center;

    }

    .grid {
        border: 6px solid black;
        padding: 0.5rem;
        height: 200px;
        display: grid;
        padding-bottom: 3rem;


        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        row-gap: 25px;
        column-gap: 5px;
        align-items: center;



    }

    .grid__hijo {

        border: 2px solid orange;
    }

    .grid__parrafo {
        text-align: center;
        font-size: 12px;
        padding: 1rem;
        color: orange;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }



    .lista__precios {
        text-align: center;
        color: white;
    }

    .imagenes__carrousel {
        max-width: 70;


    }

    /*Productos y servicios*/

    // .test {
    //     display: flex;
    //     flex-direction: column;


    // }
    .modifpys {
display: flex;
flex-direction: column;
width: 35%;


    }

    .titulo-suplementacion {
        font-size: 50px;

    }

    .proteina__texto {
        font-size: 12px;
        text-align: right;
    }


    .proteina__texto1 {
        font-size: 10px;
        text-align: left;
    }


    .proteina__texto2 {
        font-size: 15px;
        text-align: left;

    }

    .proteina__texto3 {
        font-size: 10px;
        text-align: left;
    }

    .proteina__texto4 {
        font-size: 10px;
        justify-self: left;

    }

    .proteina__imagen {
        height: 100px;
        width: 100px;

    }

    /*Rutinas*/
    .titulo__diferentestiposrutinas {
        font-size: 40px;

    }

    /*Inicio cards*/
    .cards {
        display: flex;
        flex-direction: column;

    }



    .titulo__weider {
        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
    }

    .video__weider {
        width: 200px;
        height: 200px;
        margin-left: 10rem;


    }

    .titulo__torsopierna {
        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
    }

    .video__torsopierna {
        width: 200px;
        height: 200px;
        margin-left: 10rem;

    }

    .titulo__pushpullleg {

        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
    }

    .video__pushpullleg {
        width: 200px;
        height: 200px;
        margin-left: 10rem;
    }

    /*Finalizacion de cards*/
    .titulo__tecnicasyvariantes {
        font-size: 30px;
        text-align: center;
    }

    .titulo__ejercicioscompuestos {
        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
    }

    .video__ejercicioscompuestos {
        width: 200px;
        height: 200px;
        margin-left: 10rem;

    }

    .titulo__ejerciciosaislados {
        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
    }

    .video__ejerciciosaislados {
        width: 200px;
        height: 200px;
        margin-left: 10rem;

    }

    .titulo__rutinacompleta {
        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
    }

    .video__rutinacompleta {
        width: 200px;
        height: 200px;
        margin-left: 10rem;

    }

    //Dietas//*
    .dietamodif {
        display: flex;
        flex-direction: column;


    }

    .titulo__diferentestiposalimentacion {
        font-size: 40px;
        text-align: center;

    }

    .titulo__dietacetogenica {
        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
        padding-left: 6rem;
    }

    .parrafo__dietacetogenica {
        width: 85%;
        font-size: 18px;
        padding-left: 4rem;
    }

    .video__dietacetogenica {
        width: 200px;
        height: 200px;
        margin-left: 9rem;
    }

    .titulo__dietahipocalorica {
        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
        margin-left: -0.5rem;
    }

    .parrafo__dietahipocalorica {
        width: 85%;
        font-size: 18px;
        padding-left: 3rem;

    }

    .video__dietahipocalorica {
        width: 200px;
        height: 200px;
        margin-left: 9rem;

    }

    .titulo__dietahipercalorica {
        font-size: 25px;
        text-shadow: 2px 2px 3px orange;
        margin-left: 0.5rem;
    }

    .parrafo__dietahipercalorica {
        width: 80%;
        font-size: 18px;
        margin-left: 3rem;

    }

    .video__dietahipercalorica {
        width: 200px;
        height: 200px;
        margin-left: 9rem;
    }
}

.footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;


    .footer__hijos {
        justify-content: left;
        font-size: 16px;
    }

}