/*Tecnicas y variantes.html*/
.titulo__tecnicasyvariantes {
    text-decoration: underline;
    font-size: 64px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;

    text-align: center;
}

.titulo__ejercicioscompuestos {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;
    text-decoration: underline;

    margin-top: 2rem;
    text-align: center;


}

.parrafo__ejercicioscompuestos {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;

    text-align: center
}

.video__ejercicioscompuestos {
    height: 500px;
    margin-left: 42rem;
    margin-top: 2rem;

}

.titulo__ejerciciosaislados {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;
    text-decoration: underline;

    margin-top: 2rem;
    text-align: center;


}

.parrafo__ejerciciosaislados {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;

    text-align: center
}

.video__ejerciciosaislados {
    height: 500px;
    margin-left: 42rem;
    margin-top: 2rem;

}

.titulo__rutinacompleta {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;
    text-decoration: underline;

    margin-top: 2rem;
    text-align: center;


}

.parrafo__rutinacompleta {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $colorPrincipal;

    text-align: center
}

.video__rutinacompleta {
    height: 500px;
    margin-left: 42rem;
    margin-top: 2rem;

}